<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> </br>

Balance : <%= @pocket.balance %> </br>
Student ID : <%= @pocket.student_id %> </br>
Teacher ID : <%= @pocket.teacher_id %> </br>
