<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> </br>
<table>
  <tr>
      <td>Name</td>
      <td>Username</td>
      <td>Age</td>
      <td>Kelas</td>
      <td>Address</td>
      <td>City</td>
      <td>NIK</td>
  </tr>

      <% @students.each do |student| %>
      <tr>
         <td><%= student.name %></td>
         <td><%= student.username %></td>
         <td><%= student.age %></td>
         <td><%= student.kelas %></td>
         <td><%= student.address %></td>
         <td><%= student.city %></td>
         <td><%= student.nik %></td>
         <td><%= link_to 'Detail', student_path(student) %>| <%= link_to 'Edit', edit_student_path(student) %> | <%= link_to 'Delete', student_path(student), method: :delete, data: {confirm: 'Are you sure?'} %></td> 
        </tr>
      <% end %>
    </table>

<%= link_to 'New Student', new_student_path %>
