<%= form_for @student do |f| %>
    <%= f.label :name %> </br>
    <%= f.text_field :name %> </br>
    
    <%= f.label :username %> </br>
    <%= f.text_field :username %> </br>

    <%= f.label :age %> </br>
    <%= f.text_field :age %> </br>

    <%= f.label :kelas %> </br>
    <%= f.text_field :kelas %> </br>

    <%= f.label :address %> </br>
    <%= f.text_field :city %> </br>

    <%= f.label :nik %> </br>
    <%= f.text_field :nik %> </br>

    <%= f.submit "Save" %>

<% end %>