<%= form_for @teacher do |f| %>
    <%= f.label :nik %> </br>
    <%= f.text_field :nik %> </br>
    
    <%= f.label :name %> </br>
    <%= f.text_field :name %> </br>

    <%= f.label :age %> </br>
    <%= f.text_field :age %> </br>

    <%= f.label :kelas %> </br>
    <%= f.text_field :kelas %> </br>

    <%= f.label :mapel %> </br>
    <%= f.text_field :mapel %> </br>

    <%= f.submit "Save" %>

<% end %>