<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> </br>

NIK : <%= @teacher.nik %> </br>
Name : <%= @teacher.name %> </br>
Age : <%= @teacher.age %> </br>
Kelas : <%= @teacher.kelas %> </br>
Mapel : <%= @teacher.mapel %> </br>