<%= form_for @payments do |f| %>
    <%= f.label :id_transaction %> </br>
    <%= f.text_field :id_transaction %> </br>
    
    <%= f.label :status %> </br>
    <%= f.text_field :status %> </br>

    <%= f.label :upload %> </br>
    <%= f.text_field :upload %> </br>
    
    <%= f.submit "Save" %>

<% end %>