<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %> </br>
<table>
  <tr>
      <td>Title</td>
      <td>Hasil</td>
      <td>Mapel</td>
      <td>Teacher ID</td>
      <td>Student ID</td>
      <td>Date</td>

  </tr>
  <% @reports.each do |report| %>
  <tr>
     <td><%= report.title %></td>
     <td><%= report.hasil %></td>
     <td><%= report.mapel %></td>
     <td><%= report.teacher_id %></td>
     <td><%= report.student_id %></td>
     <td><%= report.date %></td>
     <td><%= link_to 'Detail', report_path(report) %>| <%= link_to 'Edit', edit_report_path(report) %> | <%= link_to 'Delete', report_path(report), method: :delete, data: {confirm: 'Are you sure?'} %></td> 
    </tr>
  <% end %>
</table>

<%= link_to 'New Report', new_report_path %>
